@import '@rosszurowski/vanilla/lib/vanilla.css';
@import './fonts.css';

:root {
  --black: #2d2828;
  --brown: #625451;
  --lightBrown: #e2ddd8;
  --darkWhite: #f3ede8;
  --white: #fbf8f5;
  --green: #72987f;
  --lightGreen: #d1dbd5;
  --yellow: #e1ab54;

  --sans: 'Founders Grotesk', Helvetica, Arial, sans-serif;
  --serif: Copernicus, Georgia, serif;

  --bodyVerticalPadding: 1.25rem;
  --bodyHorizontalPadding: 0.75rem;
  --gridBlockWrapPadding: 1rem;
}

html {
  background-color: var(--white);
  color: var(--black);
  font-family: var(--serif);
  font-size: 100%;
  font-feature-settings: "liga", "kern";
  line-height: 1.35;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: var(--bodyVerticalPadding) var(--bodyHorizontalPadding);
}

input[type="text"],
input[type="email"],
input[type="password"],
button {
  border: none;
  appearance: none;
  font-family: inherit;
  font-size: inherit;
  width: 100%;
}

.f-title {
  font-size: 2.5rem;
  line-height: 1.15;
  letter-spacing: -1.25px;
  font-feature-settings: 'ss04'; /* ss04 = alternate italic w */
}

.f-subtitle {
  font-size: 2.25rem;
  line-height: 1.15;
  letter-spacing: -1.25px;
  font-feature-settings: 'ss04'; /* ss04 = alternate italic w */
}

.f-sectionTitle {
  font-size: 1.75rem;
  letter-spacing: -1px;
  font-variant: oldstyle-nums;
  font-feature-settings: "liga", "kern", "onum";
}

.f-caption {
  color: var(--brown);
  font-size: 0.875rem;
  letter-spacing: -0.5px;
}

.f-eyebrowLarge {
  color: var(--brown);
  font-family: var(--sans);
  font-size: 1rem;
  letter-spacing: 0.5px;
}

.c-black {
  color: var(--black);
}

.c-introBlack {
  color: #4d3833;
}

.nw {
  white-space: nowrap;
}

.g {
  display: grid;
  grid-template-columns: repeat(6, [col] 1fr);
  grid-template-rows: repeat(1, [row] auto);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.g-left {
  grid-column: col 1 / span 6;
}

.g-right {
  grid-column: col 1 / span 6;
}

.g-block {
  padding: 1rem;
}

.g-blockWrap {
  padding: var(--gridBlockWrapPadding);
}

.g-textWrap {
  max-width: 35ch;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.SiteHeader {
  padding: 1rem calc(1rem + var(--gridBlockWrapPadding)) 2rem;
}

.SiteHeader-logo {
}

.IntroHeader {
  background-color: var(--darkWhite);
}

.IntroHeader-text {
}

.IntroHeader-text h3 {
  line-height: 1.4;
  letter-spacing: -0.4px;
}

.IntroHeader-text hr {
  border: 0;
  border-top: 1px var(--lightBrown) solid;
}

.IntroHeader-figure {
  position: relative;
}

.IntroHeader-figureInner {
  position: absolute;
  top: -10rem;
  left: 0;
}

.IntroHeader-figureInner img + img {
  margin-top: 1rem;
}

.FeatureIntroductionSection {
  padding-top: 9rem;
  padding-bottom: 6rem;
  text-align: center;
}

.FeatureIntroductionSection h3 {
  font-family: var(--sans);
}

.FeatureSection {
  align-items: center;
  margin-bottom: 4rem;
}

.FeatureSection-figure {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: col 1 / span 6;
  margin-bottom: 2rem;
  padding: 0 2vw;
}

.FeatureSection-text {
  grid-column: col 1 / span 6;
  max-width: 50ch;
  margin-left: auto;
  margin-right: auto;
}

.FeatureSection-text h3 {
  margin-bottom: 1rem;
}

.FeatureSection-text p {
  letter-spacing: -0.25px;
  line-height: 1.55;
}

.FeatureSection-text p + p {
  margin-top: 0.5rem;
}

.CallToActionSection {
  align-items: center;
  background-color: var(--darkWhite);
}

.CallToActionSection-logo {
  display: none;
}

.CallToActionSection-figure {
  position: relative;
}

.CallToActionSection-figureSpacer {
  height: 0;
  padding-top: 80%;
}

.CallToActionSection-figureInner {
  background-image: url('./images/home-c.png');
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(1% 1%, 100% 0%, 100% 100%, 0% 98%, 0% 64%);
  position: absolute;
  top: 0;
  bottom: -3rem;
  width: 100%;
}

.SiteFooter {
  margin-top: 4rem;
}

.SiteFooter a + a {
  margin-left: 0.5rem;
}

@media only screen and (min-width: 767px) {
  :root {
    --bodyVerticalPadding: 3vw;
    --bodyHorizontalPadding: 2vw;
    --gridBlockWrapPadding: 2.5vw;
  }

  html {
    font-size: 115%;
  }

  .g-left {
    grid-column: col 1 / span 3;
  }

  .g-right {
    grid-column: col 4 / span 3;
  }

  .SiteHeader {
    padding: 0 calc(1rem + var(--gridBlockWrapPadding)) 2rem;
  }

  .FeatureSection {
    padding-top: 3vw;
    padding-bottom: 3vw;
    margin-bottom: 0;
  }

  .FeatureSection-figure {
    grid-column: col 1 / span 3;
  }

  .FeatureSection-text {
    grid-column: col 4 / span 3;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .CallToActionSection-logo {
    display: block;
  }

  .CallToActionSection-figureSpacer {
    padding-top: 70%;
  }

  .CallToActionSection-figureInner {
    top: -3rem;
  }

  .SiteFooter {
    display: flex;
    justify-content: space-between;
    padding: 1rem calc(1rem + var(--gridBlockWrapPadding));
  }
}

@media only screen and (min-width: 1200px) {
  html {
    font-size: 120%;
  }
}
