@import '@rosszurowski/vanilla/lib/vanilla.css';
@import './fonts.css';

:root {
  --black: #2d2828;
  --brown: #625451;
  --lightBrown: #e2ddd8;
  --darkWhite: #f3ede8;
  --white: #fbf8f5;
  --green: #72987f;
  --lightGreen: #d1dbd5;
  --yellow: #e1ab54;

  --sans: 'Founders Grotesk', Helvetica, Arial, sans-serif;
  --serif: Copernicus, Georgia, serif;

  --bodyVerticalPadding: 1.25rem;
  --bodyHorizontalPadding: 0.75rem;
  --gridBlockWrapPadding: 1rem;
}

html {
  background-color: var(--white);
  color: var(--black);
  font-family: var(--serif);
  font-size: 100%;
  font-feature-settings: "liga", "kern";
  line-height: 1.35;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: var(--bodyVerticalPadding) var(--bodyHorizontalPadding);
  overflow-x: hidden;
}

input[type="text"],
input[type="email"],
input[type="password"],
button {
  color: inherit;
  border: none;
  appearance: none;
  font-family: inherit;
  font-size: inherit;
  width: 100%;
}

.ff-ss04 {
  font-feature-settings: 'ss04'; /* ss04 = alternate italic w */
}

.f-title {
  font-size: 2.25rem;
  line-height: 1.2125;
  letter-spacing: -1.25px;
}

.f-subtitle {
  font-size: 2.25rem;
  line-height: 1.15;
  letter-spacing: -1.25px;
}

.f-sectionTitle {
  font-size: 1.75rem;
  letter-spacing: -1px;
  font-variant: oldstyle-nums;
  font-feature-settings: "liga", "kern", "onum";
}

.f-caption {
  color: var(--brown);
  font-size: 0.875rem;
  letter-spacing: -0.5px;
}

.f-eyebrowLarge {
  color: var(--brown);
  font-family: var(--sans);
  font-size: 1rem;
  letter-spacing: 0.5px;
}

.c-black {
  color: var(--black);
}

.c-introBlack {
  color: #504643;
}

.nw {
  white-space: nowrap;
}

.g {
  display: grid;
  grid-template-columns: repeat(6, [col] 1fr);
  grid-template-rows: repeat(1, [row] auto);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.g-left {
  grid-column: col 1 / span 6;
}

.g-right {
  grid-column: col 1 / span 6;
}

.g-block {
  padding: 1rem;
}

.g-blockWrap {
  padding: var(--gridBlockWrapPadding);
}

.g-textWrap {
  max-width: 40ch;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.SiteHeader {
  padding: 0.75rem calc(1rem + var(--gridBlockWrapPadding)) 1.5rem;
}

.SiteHeader a {
  transition: opacity 200ms ease;
}

.SiteHeader a:hover {
  opacity: 0.6;
}

.IntroHeader {
  background-color: var(--darkWhite);
}

.IntroHeader-text > div:first-child {
  border-bottom: 1px var(--lightBrown) solid;
}

.IntroHeader-text h3 {
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: -0.4px;
}

.IntroHeader-text hr {
  border: 0;
}

.IntroHeader-figure {
  position: relative;
}

.IntroHeader-figureInner {
  position: relative;
  left: 0;
  overflow: visible;
}

.IntroHeader-frameA {
  display: none;
  height: 0;
  padding-bottom: 69%;
  background-image: url('./images/hero-photo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.IntroHeader-frameB {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 1rem;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 4vh;
  background-color: var(--lightGreen);
  background-image: url('./images/noise.png');
  background-size: 40px;
}

.IntroHeader-frameB img {
  position: relative;
  top: 1rem;
}

.FeatureIntroductionSection {
  padding-top: 9rem;
  padding-bottom: 6rem;
  text-align: center;
}

.FeatureIntroductionSection h3 {
  font-family: var(--sans);
}

.FeatureSection {
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
}

.FeatureSection-figure {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: col 1 / span 6;
  margin-bottom: 1rem;
}

.FeatureSection-figurePhone {
  position: relative;
}

.FeatureSection-figureFrame {
  position: absolute;
}

.FeatureSection-text {
  grid-column: col 1 / span 6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.FeatureSection-text h3 {
  margin-bottom: 1rem;
}

.FeatureSection-text p {
  letter-spacing: -0.25px;
  line-height: 1.55;
}

.FeatureSection-text p + p {
  margin-top: 0.5rem;
}

.CallToActionSection {
  align-items: center;
  background-color: var(--lightGreen);
  background-image: url('./images/noise.png');
  background-size: 40px;
}

.CallToActionSection-logo {
  margin-top: 1rem;
}

.CallToActionSection-figure {
  position: relative;
}

.CallToActionSection-figureSpacer {
  height: 0;
  padding-top: 80%;
}

.CallToActionSection-figureInner {
  background-image: url('./images/call-to-action.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(1% 1%, 100% 0%, 100% 100%, 0% 98%, 0% 64%);
  position: absolute;
  top: 0;
  bottom: -3rem;
  width: 100%;
}

.SiteFooter {
  color: var(--brown);
  margin-top: 4rem;
}

.SiteFooter a:hover {
  color: var(--black);
}

.SiteFooter a + a {
  margin-left: 0.5rem;
}

@media only screen and (min-width: 767px) {
  :root {
    --bodyVerticalPadding: 3vw;
    --bodyHorizontalPadding: 2vw;
    --gridBlockWrapPadding: 2.5vw;
  }

  html {
    font-size: 115%;
  }

  .g-left {
    grid-column: col 1 / span 3;
  }

  .g-right {
    grid-column: col 4 / span 3;
  }

  .SiteHeader {
    padding: 0 calc(1rem + var(--gridBlockWrapPadding)) 1.5rem;
  }

  .IntroHeader-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 75vh;
  }

  .IntroHeader-figureInner {
    position: absolute;
    top: 50%;
    right: -4rem;
    transform: translateY(-50%);
  }

  .IntroHeader-frameA {
    display: block;
  }

  .FeatureIntroductionSection {
    padding-top: 20vw;
    padding-bottom: 6vw;
    text-align: center;
  }

  .FeatureSection {
    padding-top: 4vw;
    padding-bottom: 4vw;
    margin-bottom: 0;
  }

  .FeatureSection-figure,
  .FeatureSection-text {
    grid-column-end: span 3;
  }

  .FeatureSection-figure {
    grid-column-start: col 1;
  }

  .FeatureSection-text {
    grid-column-start: col 4;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .FeatureSection--reverse .FeatureSection-figure {
    grid-column-start: col 4;
    grid-row: 1;
  }

  .FeatureSection--reverse .FeatureSection-text {
    grid-column-start: col 1;
    grid-row: 1;
  }

  .CallToActionSection {
    margin-top: 5vw;
  }

  .CallToActionSection-logo {
    display: block;
  }

  .CallToActionSection-figureSpacer {
    padding-top: 70%;
  }

  .CallToActionSection-figureInner {
    top: -3rem;
  }

  .SiteFooter {
    display: flex;
    justify-content: space-between;
    padding: 1rem calc(1rem + var(--gridBlockWrapPadding));
  }
}

@media only screen and (min-width: 900px) {
  .IntroHeader-figureInner {
    right: 0;
  }
}

@media only screen and (min-width: 1200px) {
  html {
    font-size: 112.5%;
  }

  .f-title {
    font-size: 3rem;
    line-height: 1.2;
    letter-spacing: -2px;
  }
}
